localhost, my-app-devops.test {
    # Автоматически редиректим HTTP на HTTPS
    redir https://{host}{uri} 301

    # Конфигурация для HTTPS (порт 443)
    tls internal

    handle /images/* {
        file_server
        root * /app/public
    }

    handle {
        reverse_proxy app:3000 {
            @error status 502
            handle_response @error {
                root * /app/services/caddy/error_pages
                rewrite * /502.html
                file_server
            }
        }
    }

	log {
		format json
	}
}
