# HTTP-сервер для Health Check (порт 80)
:80 {
    respond /health "OK" 200
    log {
        format json
    }
}

# HTTPS-сервер для основного приложения (порт 443)
:443 {
    tls internal

    handle /images/* {
        file_server
        root * /app/public
    }

    handle {
        reverse_proxy app:3000 {
            @error status 502
            handle_response @error {
                root * /app/services/caddy/error_pages
                rewrite * /502.html
                file_server
            }
        }
    }

    log {
        format json
    }
}